$fontUrl: '../fonts/';

@font-face {
    font-family: 'SUIT';
    font-weight: 300;
    font-style: normal;
    src: url('#{$fontUrl}SUIT-Light.woff2') format('woff2'),
        url('#{$fontUrl}SUIT-Light.ttf') format("truetype");
    font-display: swap;
}

@font-face {
	font-family: 'SUIT';
	font-weight: 400;
	font-style: normal;
	src: url('#{$fontUrl}SUIT-Regular.woff2') format('woff2'),
			url('#{$fontUrl}SUIT-Regular.ttf') format("truetype");
	font-display: swap;
}

@font-face {
    font-family: 'SUIT';
    font-weight: 500;
    font-style: normal;
    src: url('#{$fontUrl}SUIT-Medium.woff2') format('woff2'),
        url('#{$fontUrl}SUIT-Medium.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'SUIT';
    font-weight: 700;
    font-style: normal;
    src: url('#{$fontUrl}SUIT-Bold.woff2') format('woff2'),
        url('#{$fontUrl}SUIT-Bold.ttf') format("truetype");
    font-display: swap;
}

@font-face {
	font-family: 'SUIT';
	font-weight: 900;
	font-style: normal;
	src: url('#{$fontUrl}SUIT-ExtraBold.woff2') format('woff2'),
			url('#{$fontUrl}SUIT-ExtraBold.ttf') format("truetype");
	font-display: swap;
}