// 마진 / 패딩 설정
@for $i from 0 through 5 {
  .mt#{$i*10} {
    margin-top: #{$i * 10}px !important;
  }
  .mb#{$i*10} {
    margin-bottom: #{$i * 10}px !important;
  }
  .pt#{$i*10} {
    padding-top: #{$i * 10}px !important;
  }
  .pb#{$i*10} {
    padding-bottom: #{$i * 10}px !important;
  }
}

// 마진 0
.mgn {
  margin: 0 !important;
}
// 마진 top 0
.mtn {
  margin-top: 0 !important;
}
// 패딩 0
.pdn {
  padding: 0 !important;
}
// 패딩 top 0
.ptn {
  padding-top: 0 !important;
}
