@charset "utf-8";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
html,
body {
  height: 100%;
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
ul {
  padding-left: 0 !important;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  vertical-align: inherit !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="button"],
input[type="text"],
input[type="image"],
input[type="submit"],
textarea {
  -webkit-appearance: none;
  outline: none;
  resize: none !important;
}
input::-ms-clear {
  display: none;
}
input[type="text"]:focus {
  outline: none;
}
input[type="text"]:focus.read {
  outline: none;
}
input[type="text"]:focus {
  outline: none;
}
input[type="text"],
input[type="password"],
input[type="number"],
input[type="file"] {
  vertical-align: top;
  outline: none;
  border-radius: 0;
  border: 0;
}

button {
  border: 0;
  padding: 0;
  margin: 0;
  background: none;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

/* add styles */
body {
  -webkit-text-size-adjust: none;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
img,
span,
menu,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
legend,
input,
label,
button,
textarea,
blockquote,
th,
td,
p,
a,
article,
aside,
hgroup,
header,
footer,
figure,
figcaption,
nav,
section,
time,
mark,
canvas,
video,
audio,
details,
summary,
option {
  font-family: var(--font-family) !important;
  font-weight: var(--fw-regular);
}

html {
  box-sizing: border-box;
  overflow-x: auto !important;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  outline: none;
}
button:focus {
  outline: none;
}

/* placeholder */
// input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {color: transparent}
// input:focus:-moz-placeholder, textarea:focus:-moz-placeholder {color: transparent}
// input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {color: transparent}
// input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {color: transparent}
// input::-ms-input-placeholder{color: $gray-90}
// input::-webkit-input-placeholder{color: $gray-90}
// input::-moz-placeholder{color: $gray-90}
// input:-ms-input-placeholder{color: $gray-90}
// input:-moz-input-placeholder{color: $gray-90}

// textarea:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {color: transparent}
// textarea:focus:-moz-placeholder, textarea:focus:-moz-placeholder {color: transparent}
// textarea:focus::-moz-placeholder, textarea:focus::-moz-placeholder {color: transparent}
// textarea:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {color: transparent}
// textarea::-ms-input-placeholder{color: $gray-90}
// textarea::-webkit-input-placeholder{color: $gray-90}
// textarea::-moz-placeholder{color: $gray-90}
// textarea:-ms-input-placeholder{color: $gray-90}
