.ant-checkbox {
  border-radius: 4px;
  border-color: var(--primary);
  &-inner {
    width: 20px !important;
    height: 20px !important;
    background: transparent !important;
  }
  &-checked {
    .ant-checkbox-inner {
      background: var(--primary) !important;
      border-color: var(--primary) !important;
      &::after {
        inset-inline-start: 32% !important;
      }
    }
  }
  &-wrapper {
    @include font(14px, var(--text-2), null, var(--fw-medium));
    &:hover {
      .ant-checkbox-inner {
        border-color: var(--primary) !important;
      }
    }
    &-disabled {
      .ant-checkbox {
        &-inner {
          background: var(--white) !important;
          border-color: var(--border-c8) !important;
          &::after {
            border-color: var(--border-c8) !important;
          }
        }
      }
    }
    &:hover {
      .ant-checkbox-inner {
        border-color: var(--border-c8) !important;
      }
    }
  }
}
