.ant-radio {
  border-radius: 4px;
  border-color: var(--border-c8);
  &-inner {
    width: 20px !important;
    height: 20px !important;
    background: var(--white) !important;
    &::after {
      margin-block-start: -8px !important;
      margin-inline-start: -8px !important;
      transform: scale(0.6) !important;
    }
  }
  &-wrapper {
    @include font(14px, var(--text-2), null, var(--fw-medium));
    &:hover {
      .ant-radio-inner {
        border-color: var(--primary) !important;
      }
    }
    &-disabled {
      .ant-radio {
        &-checked {
          .ant-radio-inner {
            border-color: var(--border-c8) !important;
            &::after {
              background: var(--border-e0) !important;
            }
          }
        }
      }
      &:hover {
        .ant-radio-inner {
          border-color: var(--border-c8) !important;
        }
      }
    }
  }
  &-checked {
    .ant-radio-inner {
      background: var(--white) !important;
      border-color: var(--primary) !important;
      &::after {
        background: var(--primary) !important;
      }
    }
  }
}
